---
title: "{{ software_name }} {{ version }} 代码文档"
documentclass: ctexart
classoption:
  - 10.5pt
  - a4paper
output:
  pdf_document:
    latex_engine: xelatex
    number_sections: true
    toc: true
    toc_depth: 2
    keep_tex: false
    includes:
      in_header:
        - preamble.tex
        - header.tex
      before_body: cover.tex
---

```{r setup, include=FALSE}
knitr::opts_chunk$set(echo = FALSE, message = FALSE, warning = FALSE)
```

\clearpage

# 引导程序

\begin{lstlisting}[basicstyle=\ttfamily\footnotesize\color{black}]
{{ bootstrap_code }}
\end{lstlisting}

\clearpage

{% for module in modules %}
{% if not loop.first %}\clearpage{% endif %}
# {{ module.title }}

\begin{lstlisting}[basicstyle=\ttfamily\footnotesize\color{black}]
{{ module.code_block }}
\end{lstlisting}

{% endfor %}
